body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 50px;
    transition: background-color 5s ease-in-out; /* Add transition for background color */
    animation: colorChange 10s infinite alternate; /* Add animation for background color */
}

@keyframes colorChange {
    0% {
        background-color: #f4f4f4;
    }
    25% {
        background-color: #f3e5ab;
    }
    50% {
        background-color: #f5a623;
    }
    75% {
        background-color: #f78ca0;
    }
    100% {
        background-color: #f4f4f4;
    }
}

.calculator {
    width: 400px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.1);
}

.input {
    height: 50px;
    background-color: #444;
    color: white;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.buttons {
    display: flex;
}

.operators,
.leftPanel {
    display: flex;
    flex-direction: column;
}

.operators div,
.numbers div,
#result {
    background-color: #444;
    color: white;
    padding: 20px;
    font-size: 1.5em;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for color */
}

.operators div:hover,
.numbers div:hover,
#result:hover,
#clear:hover {
    background-color: #555;
}

#clear {
    background-color: #e74c3c;
    color: white;
}

#clear:hover {
    background-color: #c0392b;
}

.equal {
    flex: 1;
    background-color: #27ae60;
    color: white;
    padding: 20px;
    font-size: 1.5em;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for color */
}

.equal:hover {
    background-color: #2ecc71;
}
